<?xml version="1.0"?>
<robot name="raphael_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- 加载通用 material -->
    <xacro:include filename="$(find raphael_robot_description)/urdf/common/materials.xacro"/>

    <!-- 加载通用 inertia -->
    <xacro:include filename="$(find raphael_robot_description)/urdf/common/inertia.xacro"/>


    <!-- 加载总装模型 -->
    <xacro:include filename="$(find raphael_robot_description)/urdf/assemble/global_mount.xacro"/>

</robot>