<?xml version="1.0"?>
<!-- 连杆模型参数 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 基座虚拟连杆 -->
    <link name="base_footprint"/>

    <link name="link00">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan00.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_0"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan00.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link01">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan01.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_1"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan01.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link02">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan02.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_2"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan02.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link03">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan03.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_3"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan03.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link04">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan04.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_4"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan04.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link05">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan05.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_5"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan05.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link06">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan06.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_6"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan06.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link07">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan07.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_7"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan07.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link08">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan08.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_8"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan08.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link09">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan09.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_9"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan09.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link09b">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan09b.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_9b"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan09b.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link10">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan10.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_10"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan10.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link11">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan11.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_11"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan11.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

    <link name="link12">
        <visual>
            <geometry>
                <mesh filename="${stl_path}/duan12.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
            <material name="color_12"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${stl_path}/duan12.stl" scale="${mesh_scale}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        </collision>
    </link>

</robot>